@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat Medium'), local('Montserrat-Medium'),
	    url('Montserrat-Medium.woff2') format('woff2'),
	    url('Montserrat-Medium.woff') format('woff'),
	    url('Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}