/*lazyload style
====================*/
.main-slider{max-height: 844px;}
/* Mobile-375
====================*/
@media (max-width: 767px){
	/*main-slider
	====================*/
	.main-slider .description{
		font-size: 17px;
		line-height: 24px;}
	.main-slider .owl-item{opacity: 0;}
	.main-slider .owl-item.active{opacity: 1;}
}
.timer{
	position: absolute;
  /* left: 50%;  */
  margin-left: 17.5%;
  /* top: 50%; */
  margin-top: -9.5%;
  font-family: 'Courier New', Courier, monospace;
}
.timer__items {
  display: flex;
  font-size: 50px;
  font-weight: bold;
}
.timer__item {
  position: relative;
  min-width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 15px;
  text-align: center;
  color: #3387b5;
}
.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  font-size: 14px;
  color: #3387b5;
}
.timer__separate:after {
  content: ':';
  position: absolute;
  right: -25px;
  top: -4px;
}

@media (max-width: 1400px){
  .timer{}
  .timer__item {
    min-width: 40px;
    padding-bottom: 8px;
  }
}
@media (max-width: 1200px){
	.timer{}
  .timer__items {
    display: flex;
    font-size: 32px;
    font-weight: bold;
  }
  .timer__separate:after {
    right: -20px;
    top: -2px;

}
@media (max-width: 1100px){
	.timer{}
}
@media (max-width: 900px){
  .timer {
    margin-left: 8%;
    margin-top: -10.5%;
}}
@media (max-width: 767px){
  .timer{}
}
@media (max-width: 650px){
  .timer{
  }
}
@media (max-width: 550px){
  .timer{
    margin-left: 26%;
    margin-top: -25%;
  }
}
@media (max-width: 500px){
  .timer{
    margin-left: 28%;
  }
  .timer__items {
    font-size: 24px;
  }
  .timer__item {
    position: relative;
    min-width: 20px;
    padding-bottom: 5px;
  }
  .timer__item::before {
    display: none;
  }
}
@media (max-width: 420px){
  .timer{
    margin-left: 24%;
    margin-top: -33%;
  }
}
@media (max-width: 375px){
  .timer{
    margin-left: 22%;
    margin-top: -35%;
  }
}
@media (max-width: 320px){
  .timer{
    margin-left: 21%;
    margin-top: -40%;
  }
  .timer__items {
    font-size: 18px;
  }
}
