.catalog-section-description h2{
	margin-top: 15px;
	font-size: 28px;
    line-height: 41px;
	color: #D0A550;}
.catalog-section-description p{text-align: justify;}
.catalog-section-description ul{margin-bottom: 15px;}